<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Custom Inquiry Manager</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header class="navbar">

    <div class="container">

        <h2 class="logo">Custom Inquiry Manager</h2>

    </div>

</header>

<main class="container">

{% block content %}
{% endblock %}

</main>

<footer>

    <p>© 2026 Custom Inquiry Manager | Built with Flask on AWS EC2</p>

</footer>

</body>

</html>