{% extends "base.html" %}

{% block content %}

<div class="card">

    <h1>Inquiry Details</h1>

    <br>

    <p>
        <strong>Name:</strong><br>
        {{ inquiry.name }}
    </p>

    <br>

    <p>
        <strong>Email:</strong><br>
        {{ inquiry.email }}
    </p>

    <br>

    <p>
        <strong>Subject:</strong><br>
        {{ inquiry.subject }}
    </p>

    <br>

    <p>
        <strong>Message:</strong><br>
        {{ inquiry.message }}
    </p>

    <br><br>

    <a class="btn-link" href="/dashboard">
        ← Back to Dashboard
    </a>

</div>

{% endblock %}