{% extends "base.html" %}

{% block content %}

<div class="card">

    <h1>Inquiry Details</h1>

    <p style="color:#6b7280;">
        Review complete information for this inquiry.
    </p>

    <hr>

    <div class="detail-item">
        <strong>Name</strong>
        <p>{{ inquiry.name }}</p>
    </div>

    <div class="detail-item">
        <strong>Email</strong>
        <p>{{ inquiry.email }}</p>
    </div>

    <div class="detail-item">
        <strong>Subject</strong>
        <p>{{ inquiry.subject }}</p>
    </div>

    <div class="detail-item">
        <strong>Status</strong>
        <p>
            <span class="status pending">
                {{ inquiry.status }}
            </span>
        </p>
    </div>

    <div class="detail-item">
        <strong>Submitted On</strong>
        <p>{{ inquiry.created_at.strftime("%d %b %Y %I:%M %p") }}</p>
    </div>

    <div class="detail-item">
        <strong>Message</strong>

        <div class="message-box">
            {{ inquiry.message }}
        </div>
    </div>

    <br>

    <a class="btn-link" href="/dashboard">
        ← Back to Dashboard
    </a>

</div>

{% endblock %}